version: '3'
services:
  lottery-web:
    build: .
    image: lottery-web:latest
    container_name: lottery_helper
    restart: always
    ports:
      - "5088:5088"
    dns:
      - 223.5.5.5
      - 114.114.114.114
    mem_limit: 1024m
    volumes:
      - ./data:/app/data
    environment:
      - TZ=Asia/Shanghai
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
